@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Space Mono", serif;
}
.active {
  background-color: #dad5fd;
}
.correct {
  background-color: #d4edda;
  border-color: #b7e1c1;
  color: #155724;
}
.incorrect {
  background-color: #f8d7da;
  border-color: #f4bec3;
  color: #721c24;
}
